certifi==2017.4.17
chardet==3.0.3
google-api-python-client==1.6.2
httplib2==0.18.0
idna==2.5
isodate==0.5.4
oauth2client==4.1.0
praw==4.5.1
prawcore==0.10.1
py==1.4.34
pyasn1==0.2.3
pyasn1-modules==0.0.9
pytest==3.1.1
requests==2.17.3
rsa==3.4.2
scales==1.0.9
six==1.10.0
update-checker==0.16
uritemplate==3.0.0
urllib3==1.21.1
